.team-member-slider{
  .member-detail{
    margin-top: 20px;
    display: inline-block;
    h6{
      margin-bottom: 5px;
      font-size: 18px;
      line-height: 26px;
      font-weight: 800;
    }
    p{
      margin-bottom: 0;
    }
  }
}

.fa-linkedin{
  color: #202020;
}
